@using Demo23_WebApp.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Products";
}

<h1>List of Products</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="text-right">
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="text-right">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a class="btn btn-sm btn-primary" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a class="btn btn-sm btn-primary" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
