@model IEnumerable<Demo23_WebApp.Models.Department>

@{
    ViewData["Title"] = "List of Departments";
}

<h1>List of Departments</h1>


<p>
    <a class="btn btn-primary" asp-controller="depts" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td class="text-right">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
